/* Utility */
*{margin: 0; padding: 0; box-sizing: border-box;}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
/* /Utility */

body {
    font-family: 'Montserrat', sans-serif;
}


.general-container{
    max-width: 1200px;
    margin: 20px auto;
}


/* HEADER */
header{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}
header img{
    height: 100%;
}
header .bar{
    height: 100%;
    width: 1px;
    margin-left: 7px;
    display: inline-block;
    background-color: lightgrey;
}

/* NAVBAR */
nav{margin-bottom: 20px;}

nav ul{list-style: none;}

nav li{
    display: inline-block;
    padding: 15px 15px 15px 0px;
    text-transform: uppercase;
    font-weight: 400;
    color: #8f8f8f;
}

/* FOOTER */
footer{
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer span{
    font-size: 14pt;
    color: red;
    font-weight: 700;
}

/* Hero */
.hero{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    border-radius: 15px;

    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    color: white;
}
.hero-text-box{
    max-width: 800px;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 1;
    padding: 0 50px;
}

.hero h2{
    font-weight: 400;
    font-size: 26pt;
}
.hero p{
    font-weight: 300;
    font-size: 12pt;
}


/* Content page */
.main-content{
    width: 100%;
}

/* Content page Header */
.col-hd{
    width: 100%;
}
.col-hd h1{
    font-size: 25pt;
    font-weight: 700;
    color: black;
}
.col-hd h4{
    font-size: 12pt;
    font-weight: 400;
    color: #8f8f8f;
}

/* ROW */
.row{
    padding: 20px 0 40px 0;
}
.row h3{
    font-size: 10pt;
    font-weight: 600;
    margin: 10px 0;
}
.row p{
    color: #8f8f8f;
    font-size: 10pt;
    font-weight: 400;

}
.row .img-box{
    width: 100%;
    height: 200px;

    position: relative;
    overflow: hidden;
    border-radius: 15px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.col-l, .col-c, .col-r{
    float: left;
}

.col-l, .col-r{
    width: 20%;
}

.col-c{
    width: calc(60% - 40px);
    margin: 0 20px;
}

/* images */
#img-l{background-image: url('../img/img-1.jpg');}

#img-c{background-image: url('../img/banner-2.jpg');}

#img-r{background-image: url('../img/img-3.jpg');}